
  <div class="auth">
    <div class="auth__nav">
      <a routerLink="/"><span nz-icon nzType="home" nzTheme="outline"></span> На главную</a>
    </div>
    <nz-card class="auth-form__wrapper" [nzBordered]="false">
        <div class="" *ngIf="!(loadingService.isLoading$ | async); else loading">
        <form class="auth-form" nz-form [formGroup]="passwordForm" (ngSubmit)="onChangePasswordSubmit()">
          <div class="auth-form__title">
            <p>Восстановление пароля</p>
          </div>
          <div class="auth-form__content">
            <nz-form-item>
              <nz-form-control [nzSpan]="25" [nzErrorTip]="errorTip">
                <input nz-input type="password" id="password" formControlName="password" placeholder="Новый Пароль">
              </nz-form-control>
            </nz-form-item >
            <nz-form-item>
              <nz-form-control [nzSpan]="25" [nzErrorTip]="errorTip">
                <input nz-input type="password" id="passwordCheck" formControlName="passwordCheck" placeholder="Повторите новый пароль">
              </nz-form-control>
            </nz-form-item >
          </div>
          <button nz-button nzType="primary" type="submit">Изменить пароль</button>
        </form>
      </div>
      </nz-card>
  </div>




<ng-template #errorTip let-control>
  <div class="" style="color: red" *ngIf="control?.invalid || control?.touched">Поле заполнено неверно</div>
</ng-template>

<ng-template #loading>
  <div class="loading">
      <app-spinner class="loading__wrapper"></app-spinner>
  </div>
</ng-template>