<div class="ad">
  <nz-carousel class="ad__carousel" [nzEnableSwipe]="false">
    <div nz-carousel-content *ngFor="let image of ad.images">
      <div *ngIf="ad.images.length>0; else noImage"> 
        <img  class="advertisement-image" src="{{image}}" >
      </div>
    </div>
  </nz-carousel>
  <div class="ad__description">
    <div class="ad__description-header">
      <a class="ad__description-title" routerLink="{{ad.id}}">{{ ad.name }}</a>
      <a href="#"><span style="font-size: 18px; margin-left: 20px" nz-icon nzType="heart" nzTheme="outline"></span></a>
    </div>
    <div class="ad__description-price">{{ ad.price | currency: 'RUB':'symbol-narrow':'1.0-0':'ru-RU'}}</div>
    <div class="ad__description-city">{{ ad.locationQuery }}</div>
    <div class="ad__description-date">{{ ad.dateTimeCreated }}</div>

  </div>
</div>

<ng-template #noImage>
  <span nz-icon nzType="camera" nzTheme="outline"></span>
</ng-template>






