<h1 nz-typography>Главная страница</h1>
<div *ngIf="!(loadingService.isLoading$ | async); else loading">
  <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let ad of ads">
    <nz-card [nzBordered]="false" [nzTitle]="ad.name">
      <img
        *ngIf="ad.image"
        src="data:image/jpeg;base64,{{ ad.image }}"
        alt="фото"
        class="mb-4"
      />
      <!-- <p>{{ad.locationText}}</p> -->
      <p>{{ ad.price }}</p>
    </nz-card>
  </div>
</div>


<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
