@import '/src/styles.scss';

.ads {
  display: block;
  box-shadow: $box-shadow;
  border-radius: 15px;
  padding: 30px;
  min-height: 450px;
  text-align: center;
}

.ad {
  max-width: 600px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  margin: 0 auto 30px;
  display: flex;
  transition: .3s;

  &:hover {
    cursor: pointer;
    border-color: #1890ff;
  }


  &__carousel {
    max-height: 200px;
    max-width: 250px;
    background-color: rgba(119, 118, 118, 0.671);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1000;
    
  }

  &__secWrapper {
    max-width: 350px;
    width: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
  }
  &__description{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    &-title {
      font-size: 16px;
    }
  
    &-price {
      font-size: 18px;
      font-weight: 600;
    }

  }

  &__nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__btn {
      
    }

    &__img {
      font-size: 20px;
      transition: .3s;
      &:hover {
        color: $defaultColor;
      }
    }
  }
}

.advertisement-image {

  height: 200px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.empty{
  &__wrapper {
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    font-size: 24px;
    margin: 10px;
  }

  &__text {
    margin: 10px;
  }
}

.spinner {
  margin-top: 250px;
}

