<div class="container">
<div class="advertisement" *ngIf="!(loadingService.isLoading$ | async); else loading">
  <div class="advertisement__top">
    <div class="advertisement__top-left">
      <div class="advertisement__top-title">
        {{ad.name}}
      </div>
      <div *ngIf="!ad.isFavorite; else favorite ">
        <a (click)="addToFavorite(ad.id)"><span style="font-size: 30px; margin-left: 20px" nz-icon nzType="heart" nzTheme="outline"></span></a>
      </div>

    </div>
    
    
    <div class="advertisement__top-price">
      <div *ngIf="ad.price == 0 else price">Бесплатно</div>
      <ng-template #price>
        {{ ad.price | currency: 'RUB':'symbol-narrow':'1.0-0':'ru-RU' }}
      </ng-template>
      
    </div>


  </div>
  <div class="advertisement__content">
    <div class="advertisement__content-image">
      
      <span (click)="pre()" class="advertisement__content-image__left" nz-icon nzType="left" nzTheme="outline"></span>
      <nz-carousel [nzEnableSwipe]="false"  >
        <div nz-carousel-content *ngFor="let image of ad?.images">
          <nz-image-group>
            <img class="advertisement-image-bg" src="{{image.item2}}" >
          <img nz-image class="advertisement-image" nzSrc="{{image.item2}}" >
          </nz-image-group>
          
        </div>
      </nz-carousel>
      <span (click)="next()" class="advertisement__content-image__right" nz-icon nzType="right" nzTheme="outline"></span>
    </div>
    <div class="advertisement__content-communication">
      <nz-avatar [nzSize]="64" nzIcon="user" nzSrc="{{ ad.authorAvatar }}"></nz-avatar>
      <a class="author-name" routerLink="../../author/{{ ad.authorId }}">{{ ad.authorName }}</a>
      <button class="author-number"  nz-button nzType="default" type="button">{{ ad.authorNumber ? ad.authorNumber : 'Пользователь не добавил номер' }}</button>
      <button class="author-chat" nz-button nzType="primary" type="button">Написать</button>
      <button *ngIf="user && user.id != ad.authorId" class="author-comment" nz-button nzType="primary" type="button" (click)="showModal()">Оставить комментарий</button>
      <nz-modal nzCentered [(nzVisible)]="isVisible" nzTitle="Комментарий" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk(ad.id)" nzOkText="Оставить" nzCancelText="Отмена">
        <ng-container *nzModalContent>
          <form nz-form [formGroup]="commentForm" >
            <nz-form-item>
              <nz-form-control [nzSpan]="25" [nzErrorTip]="errorTip">
                <textarea
                nz-input
                [nzAutosize]="{ minRows: 10, maxRows: 10 }"
                formControlName="text"
                style="resize: none"
              ></textarea>
              </nz-form-control>
            </nz-form-item >
            <nz-form-item>
              <p class="author-comment-p">Ваш комментарий будет опубликован после прохождения модерации.</p>
            </nz-form-item>
          </form>
          
        </ng-container>
      </nz-modal>
      <span>На площадке с {{ ad.authorRegisterDate }}</span>
    </div>
    
  </div>
  <div class="advertisement__footer">
    <div class="advertisement__footer-description">
      <h2 class="title" >Адрес</h2>
      <div class="advertisement__footer-map">
        <ya-map [center]="[centerLat, centerLon]" [zoom]="12" (ready)="onReady($event)">
          <ya-placemark [geometry]="[centerLat, centerLon]"></ya-placemark>
        </ya-map>
      </div>
      <h3>{{ ad.locationQueryString }}</h3>
      <h2 class="title" >Описание</h2>
      <h3>{{ ad.description }}</h3>
      <h2 class="title" >Размещено</h2>
      <h3>{{ ad.dateTimeCreated }}</h3>

    </div>
  </div>

  <div class="advertisement__comment">
    <div class="advertisement__comment-description">
      <h2 class="title" >Комментарии</h2>
      <div *ngIf="comments.items.length > 0; else noComments">
        <div *ngFor="let comment of comments.items">
          <div class="comment">
            <div class="comment__avatar">
              <nz-avatar nzIcon="user" [nzSize]="64" [nzSrc]="comment.userAvatar"></nz-avatar>
            </div>
            <div class="comment__content">
              <div class="comment__title">
                <div class="comment__title__text">
                  {{ comment.userName }}
                </div>
                <div class="comment__title__text">
                  {{ comment.dateTimeCreated }}
                </div>
              </div>
              <div class="comment__text">
                {{ comment.text }}
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
      <div class="comments__pagination__pre"></div>
    <nz-pagination
      class="comments__pagination"
      [nzPageIndex]="pageNumber"
      [nzPageSize]="pageSize"
      [nzTotal]="commentsTotal"
      (nzPageIndexChange)="onChangePagination($event)"
    ></nz-pagination>
      </div>
  </div>
</div>
</div>

<ng-template #loading>
  <div class="loading">
      <app-spinner class="loading__wrapper"></app-spinner>
  </div>
</ng-template>

<ng-template #favorite>
  <a (click)="deleteFromFavorite(ad.id)"><span style="font-size: 30px; margin-left: 20px" nz-icon nzType="heart" nzTheme="fill"></span></a>
</ng-template>

<ng-template #errorTip let-control>
  <div style="color: red" *ngIf="control?.invalid && control?.dirty">
    Поле заполнено неверно
  </div>
</ng-template>

<ng-template #noComments>
  <div class="empty__wrapper">
    <span class="empty__img" nz-icon nzType="meh" nzTheme="outline"></span>
    <div class="empty__text">Здесь пока пусто</div>
    <a *ngIf="user.id != ad.authorId" nz-button nzType="primary" (click)="showModal()">Оставить комментарий</a>
  </div>
</ng-template>