<div class="container">
<div class="advertisement" *ngIf="!(loadingService.isLoading$ | async); else loading">
  <div class="advertisement__top">
    <div class="advertisement__top-left">
      <div class="advertisement__top-title">
        {{ad?.name}}
      </div>
      <a href="#"><span style="font-size: 30px; margin-left: 20px" nz-icon nzType="heart" nzTheme="outline"></span></a>
    </div>
    
    
    <div class="advertisement__top-price">
      {{ ad?.price | currency: 'RUB':'symbol-narrow':'1.0-0':'ru-RU' }}
      
    </div>


  </div>
  <div class="advertisement__content">
    <div class="advertisement__content-image">
      
      <span (click)="pre()" class="advertisement__content-image__left" nz-icon nzType="left" nzTheme="outline"></span>
      <nz-carousel [nzEnableSwipe]="false"  >
        <div nz-carousel-content *ngFor="let image of ad?.images">
          <nz-image-group>
            <img class="advertisement-image-bg" src="{{image.item2}}" >
          <img nz-image class="advertisement-image" nzSrc="{{image.item2}}" >
          </nz-image-group>
          
        </div>
      </nz-carousel>
      <span (click)="next()" class="advertisement__content-image__right" nz-icon nzType="right" nzTheme="outline"></span>
    </div>
    <div class="advertisement__content-communication">
      <nz-avatar [nzSize]="64" nzIcon="user" nzSrc="{{ ad?.authorAvatar }}"></nz-avatar>
      <h1 class="author-name">{{ ad?.authorName }}</h1>
      <button class="author-number" ngClass="" nz-button nzType="default" type="button">{{ ad?.authorNumber ? ad?.authorNumber : 'Пользователь не добавил номер' }}</button>
      <button class="author-chat" nz-button nzType="primary" type="button">Написать</button>
      <span>На площадке с {{ ad?.authorRegisterDate }}</span>
    </div>
    
  </div>
  <div class="advertisement__footer">
    <div class="advertisement__footer-description">
      <h2 class="title" >Адрес</h2>
      <div class="advertisement__footer-map">
        <ya-map [center]="[centerLat, centerLon]" [zoom]="12" (ready)="onReady($event)">
          <ya-placemark [geometry]="[centerLat, centerLon]"></ya-placemark>
        </ya-map>
      </div>
      <h3>{{ ad?.locationQueryString }}</h3>
      <h2 class="title" >Описание</h2>
      <h3>{{ ad?.description }}</h3>
      <h2 class="title" >Размещено</h2>
      <h3>{{ ad?.dateTimeCreated }}</h3>

    </div>
  </div>
</div>
</div>

<ng-template #loading>
  <div class="loading">
      <app-spinner class="loading__wrapper"></app-spinner>
  </div>
</ng-template>