@mixin shadow() {
  -webkit-filter: drop-shadow( 0px 0px 2px #000000);
  filter: drop-shadow( 0px 0px 2px #000000);
}

.advertisement {
  
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &-title,
    &-price {
      font-size: 35px;
      font-weight: 700;
    }
    &-left {
      max-width: 600px;
      display: flex; 
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &-image {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &__left {
        color: #fff;
        font-size: 20px;
        z-index: 1000;
        position: absolute;
        padding: 315px 20px;
        @include shadow();

      }
      &__right {
        color: #fff;
        text-shadow: 20px 20px 0 #000;
        font-size: 20px;
        z-index: 1000;
        position: absolute;
        right: 0;
        padding: 315px 20px;
        @include shadow();
      }

      &__left:hover, &__right:hover {
        cursor: pointer;
      }

      &__left:active, &__right:active {
        font-size: 17px;
      }

    }

    &-communication {
      border-radius: 20px;
      box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
      max-width: 300px;
      width: 100%;
      padding: 25px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

  }

  &__footer{
    &-map {
      width: 600px;
      height: 300px;

    }
  }

  &-image {
    width: 650px;
    height: 650px;
    object-fit: contain;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.2);
    &-bg {
      max-width: 650px;
      height: 650px;
      object-fit: cover;
      position: relative;
      top: 0;
      left: 0;
      filter: blur(15px) brightness(1.5);
    }
  }

  &__footer{
    margin-top: 50px;
    max-width: 650px;
    padding: 25px;
    &-description{
      .title {
        font-weight: 600;
        padding-top: 15px;
      }
    }
    border-radius: 20px;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
  }

  &__comment{
    margin-top: 50px;
    max-width: 650px;
    padding: 25px;
    text-align: center;
    &-description{
      .title {
        font-weight: 600;
        padding-top: 15px;
        text-align: left;
      }
    }
    border-radius: 20px;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
  }

}



.author {
  &-name {
    font-size: 24px;
    font-weight: 600;
    margin: 10px;

  }

  &-number {
    font-size: auto;
    height: 50px;
    max-width: inherit;
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  &-chat {
    font-size: 16px;
    height: 50px;
    max-width: inherit;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
  &-comment {
    font-size: 16px;
    height: 50px;
    max-width: inherit;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    background-color: #038003;
    border-color: #038003;
    &:hover {
      background-color: #6dc06d;
    border-color: #6dc06d;
    }

    &-p {
      color: #616161;
    }
  }
}

.comment {
  display: flex;
  margin: 20px 0px;
  &__avatar {
    margin-right: 15px;
  }

  &__title {
    display: flex;
    &__text {
      color: #616161;
      margin-right: 20px;
    }
  }

  &__text {
    font-size: 16px;
    text-align: left;
  }
}

nz-carousel {
  position: relative;
  top: 0;
  left: 0;
  width: 650px;
  max-height: 650px;
  border-radius: 25px;
  background-color: #9692929c;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
}


