.header {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #111;
}

.navbar{
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.navbar__section {
  div{
    display: flex;
    align-items: center;
  }
  display: flex;
  align-items: center;
  a {
    padding-right: 15px;
  }
}



[nz-button] {
  border-radius: 15px;
}

[nz-menu] {
  width: 200px;
  z-index: 1000;
}

[nz-dropdown-menu] {
  border-radius: 25px;
}

.search {
  margin-top: 40px;
  margin-left: 10px;
  
  display: flex;
  justify-content: space-between;

  &-input {
    border-radius: 0px;
    height: 40px;
  }
}


.ant-select-selector {

  border-radius: 15px!important;
}

.ant-select-selector {

}