.header {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #111;
}

.navbar{
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 40px;
  &__bg {
    background-color: #ffffff;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
  }

  &__section {
    div{
      display: flex;
      align-items: center;
    }
    display: flex;
    align-items: center;
    a {
      padding-right: 15px;
    }
  
  }
}




[nz-button] {
  border-radius: 20px;
}

[nz-menu] {
  width: 200px;
  z-index: 1000;
}

nz-dropdown-menu {
  border-radius: 25px;
}

.search {
  height: 40px !important;
}

.search__section{
  max-width: 1000px;
  width: 100%;
  margin:0 auto;
  margin-bottom: 40px;
  
  display: flex;
  justify-content: space-between;

  &-input {
    border-radius: 0px;
    height: 40px;
    margin: 0px 20px;
    max-width: 400px;
  }

  &-button {
    height: 40px;
    margin-left: 15px;
  }

  &-form {
    display: flex;
    justify-content: space-between;
  }

  &__address{
    max-width: 200px!important;
    width: 100%;
    margin-right: 15px;
  }

  &__tree {
    border: 1px solid #d9d9d9;
      border-radius: 20px;
      width: 200px;
      height: 40px;
  }
}


nz-tree-select {
  width: 200px;
  height: 40px;
}

.ant-select {
  height: 40px !important;
  display: flex;
  align-items: center;
  border: none !important;
}

.admin {
  color: #e26e6e;
  margin-right: 10px;
}

.nav__mobile {

  &__avatar {
    margin-bottom: 25px;
  }

  &__ul {
    width: 325px;
    border: none;
    position: relative;

    &__logout {
      position: absolute;
      bottom: 25px;
    }

  }
}

.filters__btn {
  border: 1px solid #d9d9d9;
  height: 40px;
  width: 40px;
  span{
    font-size: 16px;
    margin-left: -4px;
    margin-top: 5px;
  }
  
}


@media(max-width: 900px) {
  .search__section{
    &__tree {
        max-width: 150px;
    }
  }
  nz-tree-select {
    max-width: 150px;
  }
}

@media(max-width: 800px) {
  .search__section{
    &__tree {
        max-width: 125px;
    }
  }
  nz-tree-select {
    max-width: 125px;
  }
}

@media(max-width: 700px) {
  .search__section{
    &-input {
        max-width: 600px;
    }
  }
  nz-tree-select {
    max-width: 125px;
  }
}
