<header class="header" >
  <div class="navbar__bg">
    <div class="container">
    <nav class="navbar" *ngIf="isHeaderNav()">
      <ul class="navbar__section">
        <li class="navbar__item logo" routerLink="/">AdvBOARD</li>
      </ul>
      <ul class="navbar__section">
        <div class="" *ngIf="user$ as user; else notAuthed">
          
          <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomCenter'">
            <nz-avatar [nzSize]="32" nzIcon="user" nzSrc="{{ user.avatar }}"></nz-avatar>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu" >
            <ul nz-menu nzSelectable>
              <li nz-menu-item nzDisabled>{{ user.name }}</li>
              <li nz-menu-divider></li>
              <li nz-menu-item routerLink="add-new-ad">Разместить объявление</li>
              <li nz-menu-item routerLink="profile/{{user.id}}">Профиль</li>
              <li nz-menu-item routerLink="">Мои объявления</li>
            </ul>
          </nz-dropdown-menu>
          <button
            class="navbar__item"
            nz-button
            nzType="primary"
            (click)="authService.logout()"
          >
            Выход
          </button>
        </div>
      </ul>
    </nav>
    </div>
  </div>

  <div class="container">
    <div class="search__section" *ngIf="isHeaderSearch()">
        <button class="search__section-button" nz-button  nzType="primary" (click)="open()">Категория</button>
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      [nzPlacement]="'left'"
      nzTitle="Категория"
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>
        <nz-tree style="font-size: 16px;" [nzData]="categories$ | async"></nz-tree>
      </ng-container>
    </nz-drawer>

      <input class="search__section-input" style="border-radius: 20px;"  type="text" nz-input nz-Search placeholder="Поиск по объявлениям" />
      <button class="search__section-button" nz-button nzType="primary"><span nz-icon nzType="search"></span> Найти</button>
    </div>
    
  </div>
</header>

<ng-template #notAuthed>
  <button nz-button nzType="primary" routerLink="/auth">
    Вход и регистрация
  </button>
</ng-template>
<ng-template #FindButton>
  <style>
  
  </style>
</ng-template>
<ng-template #CategorySelect >
  
</ng-template>
