.auth {
  height: calc(100vh - 50px);
  position: relative;
}

.auth-form__wrapper {
  max-width: 400px;
  max-height: 500px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.2);
  top: 50%;
  bottom: 0;
  margin: auto;
  transform: translateY(-50%);
}

.auth-form {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  &__title {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
  }
}