<div class="auth">
  <div  *ngIf="!(isLoading | async); else loading"></div>
<nz-card class="auth-form__wrapper" [nzBordered]="false">
  <form class="auth-form" nz-form *ngIf="isLogin | async" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <div class="auth-form__title">
      <p>Вход</p>
    </div>
    <div class="auth-form__content">
      <nz-form-item>
        <nz-form-control [nzSpan]="25" [nzErrorTip]="errorTip">
          <input nz-input type="text" id="login" formControlName="login" placeholder="Имя пользователя">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-control [nzSpan]="25" [nzErrorTip]="errorTip">
          <input nz-input type="password" id="password" formControlName="password" placeholder="Пароль">
        </nz-form-control>
      </nz-form-item >
    </div>
    
    
    <button nz-button nzType="primary" type="submit">Войти</button>
    <a (click)="onChange()">Создать аккаунт</a>
  </form>
  <form class="auth-form" nz-form *ngIf="!(isLogin | async)" [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
    <div class="auth-form__title">
      <p>Вход</p>
    </div>
    <div class="auth-form__content">
      <nz-form-item>
        <nz-form-control [nzSpan]="25" [nzErrorTip]="errorTip">
          <input nz-input type="text" id="login" formControlName="login" placeholder="Имя пользователя">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-control [nzSpan]="25" [nzErrorTip]="errorTip">
          <input nz-input type="email" id="email" formControlName="email" placeholder="Эл. адрес">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-control [nzSpan]="25" [nzErrorTip]="errorTip">
          <input nz-input type="password" id="password" formControlName="password" placeholder="Пароль">
        </nz-form-control>
      </nz-form-item >
    </div>
    
    
    <button nz-button nzType="primary" type="submit">Создать аккаунт</button>
    <a (click)="onChange()">Войти</a>
  </form>
</nz-card>
</div>

<ng-template #errorTip let-control>
  <div class="" style="color: red" *ngIf="control?.invalid && control?.touched">Поле заполнено неверно</div>
</ng-template>
<ng-template #loading>
  <div class="spinner">
    <nz-spin></nz-spin>
  </div>
</ng-template>
