<div class="container">
  <div class="profile">
    <div class="profile__avatar">
      <img class="profile__avatar-img" src="{{ user$.avatar }}" />
      <nz-upload
        nzAction="{{environmentUrl}}/v1/image/create"
        (nzChange)="handleChange($event)"
        [nzShowUploadList]="false"
      >
        
        <button nz-button><span nz-icon nzType="upload"></span>Изменить фотографию</button>
      </nz-upload>
      <div class="profile__nav">
        <a class="profile__nav__element" (click)="component = 'data'" >Данные</a>
        <a class="profile__nav__element" (click)="component = 'ads'" >Мои объявления</a>
        <a class="profile__nav__element" href="">Избранное</a>
      </div>

    </div>
    <div class="profile__content" [ngSwitch]="component">
      <div *ngSwitchCase="'data'"><app-profile-data [user]="user$"></app-profile-data></div>
      <div *ngSwitchCase="'ads'"><app-profile-ads [user]="user$"></app-profile-ads></div>
    
    </div>
    
  </div>
</div>
