<div class="container">
  <div *ngIf="!(loadingService.isLoading$ | async); else loading">
    <div class="ads">
        <div class="" *ngFor="let ad of ads">
          <app-ad class="ad" [ad]=ad></app-ad>
        </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div style="margin-top: 200px">
    <app-spinner class="spinner"></app-spinner>
  </div>
</ng-template>

<!-- <ng-template #noAds>
  <div class="empty__wrapper">
    <span class="empty__img" nz-icon nzType="meh" nzTheme="outline"></span>
    <div class="empty__text">Здесь пока пусто</div>
    <a nz-button nzType="primary" routerLink="../../add-new-ad"
      >Разместить объявление
    </a>
  </div>
</ng-template> -->
