/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Readex+Pro:wght@200;400;700&display=swap');//Может быть неиспользуемый
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

$nunitoFont: 'Nunito', sans-serif;
$readexFont: 'Readex Pro', sans-serif;
$montserratFont: 'Montserrat', sans-serif;
$box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
$defaultColor: #1890ff;


body {
  padding: 0;
  margin: 0;
  font-family: $montserratFont;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.logo {
  font-family: $readexFont;
  font-weight: 700;
  font-size: 20px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
   &:hover{
    cursor: pointer;
   }
}

[nz-button] {
  border-radius: 8px;
}

[nz-input] {
  border-radius: 8px;
}

.ant-notification-notice {
  border-radius: 10px;
}

.search {
  background-color: #fff!important;
  border: 1px solid #d9d9d9!important;
  border-radius: 10px!important;
}

.search:focus {
  outline: none!important;
}

.ant-upload.ant-upload-drag {
  border-radius: 15px!important;
}

.loading {
   display: flex;
   height: 450px;
  &__wrapper {
    margin: auto;
    justify-content: center;
  }
  
}

.ant-modal-header,
.ant-modal-content {
  border-radius: 15px!important;
}


.ant-upload-list-picture,
.ant-upload-list-item,
 .ant-upload-list-picture-card,
  .ant-upload-list-item {
    border-radius: 15px!important;
}

.ant-upload-list-picture,
.ant-upload-list-item-thumbnail img,
.ant-upload-list-picture-card,
.ant-upload-list-item-thumbnail img {
  border-radius: 10px!important;
}

.ant-dropdown-menu,
.ant-dropdown-menu-root,
.ant-dropdown-menu-light,
.ant-dropdown-menu-vertical {
  border-radius: 15px!important;
}